{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>

    {% block css %}
    {% endblock%}
</head>
<body>
      {% block contenido %}
     <!--nav menu web-->
     <div clas="container-fluid"> 
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">Tienda - Mascotas</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'home'%}">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Nosotros</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                  Tienda
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'registro'%}">Registro</a>
                  <a class="dropdown-item" href="{% url 'suscripcion'%}">Suscripcion donaciones</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Tracking web</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>
          </div>
          <!--nav menu web-->






        <div clas="container-fluid"> 
              <!--inicio de carta que contiene el formulario-->
      <!--inicio de carta que contiene el formulario-->
      <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header">Registro</div>
        <div class="card-body">

        <form class="row">
            <div class="col-md-12">
              <label for="rnombre" class="form-label"> Nombre: </label>
              <input type="text" class="form-control" placeholder="Ingrese Nombre" id="rnombre" onkeyup="v_rnombre()"  >
              <p id="texto_rnombre"></p>
              <input type="hidden" id="flag_rnombre" value="0">
            </div>  
            </div>
            <div class="col-md-12">
              <label for="validationCustomUsername" class="form-label">Correo: </label>
              <div class="input-group has-validation">
                <span class="input-group-text" id="inputGroupPrepend">@</span>
                <input type="email" class="form-control" placeholder="ejemplo@gmail.com" id="correo"  aria-describedby="inputGroupPrepend" onkeyup="v_correo()" >
                <p id="texto_correo"></p>
                <input type="hidden" id="flag_correo" value="0">              
              </div>
            </div>
            <div class="col-md-12">
              <label for="validationCustom03" class="form-label">Contraseña:</label>
              <input type="password" class="form-control" placeholder="Ingrese Contraseña" id="pass" onkeyup="v_pass()" >
              <p id="texto_pass"></p>
              <input type="hidden" id="flag_pass" value="0">
            </div>
            <div class="col-md-12">
              <label for="validationCustom03" class="form-label">Repita la Contraseña:</label>
              <input type="password" class="form-control" placeholder="Ingrese Contraseña" id="reppass" onkeyup="v_reppass()" >
              <p id="texto_reppass"></p>
              <input type="hidden" id="flag_reppass" value="0">
              
            </div>
            
            
          
            <button type="button" class="btn btn-primary" id="registro" ><a href="../perfil_usuario.html" style="color: white;">Registrar</a></button>

           
        </form>

      </div>
      <!--fin de carta que contiene el formulario-->

    
    
      


    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>


    

            
               
              
        
            
        
            <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
            <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

          </div>
    


      
      {% endblock%}

   


</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</html>